body {
    background-color: #F2FFFC;
}

main h1 {
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
}

h1, h2 {
    font-family: "Arial", sans-serif;
}

p {
    font-family: "Times New Roman", serif;
}
